h1{
    color:#C100FF;
  }
  .html{
    background-color:#D7C019;
  }
  .title{
    color:Violet;
  }
  p{
    color:#FF0000;
  }
  button{
    color: rgba(119,273,255);
    background: #FFFFFF;
  }
  a{
    background:#FF7900 ;
  }
  h3{
    color:#FF11F4;
    background-color: #11FFE6;
  }
  div{
    color:#00F6FFA1;
    background: #FF0000;
  }